{% extends "main.html" %}

{% block content %}
<style>
  .room-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
<div class="room-container">
  <div>
  <h1>{{room.name}}</h1>
  <p>@{{room.host.username}}</p>
  <p>{{room.description}}</p>


  <div class ="comment-wrapper">
    {% for comment in comments  %}
    {% if request.user == comment.user %}
      <a href="{% url 'delete-message' comment.id %}">delete</a>
      
    {% endif %}
      <small>{{comment.user}}  {{comment.created|timesince}} ago</small>
      <p>{{comment.body}}</p>
      <hr>
    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
  <div class="comment-form">
    <form method="post" action="">
      {% csrf_token %}
      <input type="text" name="body" placeholder="write your massaeg here...">
    </form>
  </div>
</div>
<div>
  <h3>
    Participents
  </h3>
{% for user in participents  %}
  <p>@{{user}}</p>
  <hr>
{% endfor %}
</div>
</div>
  {% endif %}

{% endblock content %}